In [2]:
# importing library
import matplotlib.pyplot as plt
import pandas as pd
import csv

In [281]:
def create_transaction_dictonary(transactions):
    transactions_list = transactions.values.tolist()
    Id = 0
    transactions_dict = {tx[Id] for tx in transactions_list}
    return transactions_dict

In [282]:
def find_block_id(tx_id):
    row = transactions.loc[transactions['id'] == tx_id]
    block_id = row['block_id'].values[0]
    return block_id

In [283]:
def eliminate_invalid_transactions(no_valid_transactions):
    for tx in no_valid_transactions:
        inputs.drop(inputs.index[inputs['tx_id'] == tx], inplace=True)
        outputs.drop(outputs.index[outputs['tx_id'] == tx], inplace=True)
        transactions.drop(transactions.index[transactions['id'] == tx], inplace=True)
        
    print("INVALID TRANSACTION ELIMINATED")

In [284]:
def check_output_of_invalid_transactions(no_valid_transactions):
    is_used = False
    somma = 0
    for element in no_valid_transactions:
        output_df = outputs.loc[outputs['tx_id']== element]
        output_id_list = output_df['id'].tolist()
        for Id in output_id_list:
            input_df = inputs.loc[inputs['output_id']== Id]
            tx_list = input_df['tx_id'].tolist()
            if len(tx_list) > 0:
                is_used = True
    if is_used:
        print("The transaction outputs to be deleted are used as inputs for other transactions\n")
    else:
        print("The transaction outputs to be deleted are not used as inputs for other transactions\n")

In [285]:
def output_of_invalid_transactions(no_valid_transactions):
    invalid_output_tx = []
    for element in no_valid_transactions:
        output_df = outputs.loc[outputs['tx_id']== element]
        output_id_list = output_df['id'].tolist()
        for Id in output_id_list:
            input_df = inputs.loc[inputs['output_id']== Id]
            tx_list = input_df['tx_id'].tolist()
            if len(tx_list) > 0:
                invalid_output_tx.append(Id)
    return invalid_output_tx

In [286]:
def select_transactions_to_eliminate(inputs_with_double_output_id, inputs, outputs):
    inputs_list = inputs_with_double_output_id.values.tolist()
    no_valid_transaction = [] 
    o_id = 3
    tx_id = 1
    founded = False
    for element in inputs_list:
        transaction_id = element[tx_id]
        output_id = element[o_id]
        #it is necessary to verify that the tx_id of the transaction that produced this output is 
        #less than the current tx_id, if this is not the case it means that this transaction is using 
        #an output_id that has been produced in the future, this means that the current transaction is not valid
        outputs_row = outputs.loc[outputs['id']== output_id] 
        outputs_row_list = outputs_row.values.tolist()
        tx_id_output = outputs_row_list[0][tx_id]
        if tx_id_output > transaction_id:
            no_valid_transaction.append(transaction_id)
            founded = True

    #if the test is passed by all the transactions then I decide to consider the transaction with 
    #lower tx_id valid
    if not founded:
        valid_tx = inputs_with_double_output_id['tx_id'].min()
        tx = inputs_with_double_output_id['tx_id'].values.tolist()
        tx.remove(valid_tx)
        return tx
    
    return no_valid_transaction

In [287]:
def create_inputs_dictionary_with_key_output_id(inputs):
    inputs_list = inputs.values.tolist()
    output_id = 3
    input_dict_with_o_key = {}
    for tx in inputs_list:
        input_dict_with_o_key[tx[output_id]] = True
        
    return input_dict_with_o_key

In [288]:
def create_sum_input_by_tx_id_dictionary(outputs_dict, inputs_list):
    sum_input_value_per_transaction = {}
    transaction_id = 1 # indice dell'id della transazione nella singola tupla appartentente a input_list
    output_id = 3
    for i in range(0, len(inputs_list)):
        tx_id = inputs_list[i][transaction_id]
        o_id = inputs_list[i][output_id]
        
        if (o_id == -1):
            sum_input_value_per_transaction[tx_id] = -1
            continue
        
        if tx_id not in sum_input_value_per_transaction:
            sum_input_value_per_transaction[tx_id] = outputs_dict.get(o_id)
        else:
            sum_input_value_per_transaction[tx_id] += outputs_dict.get(o_id)
      
    return sum_input_value_per_transaction

In [289]:
def create_output_dictionary(outputs_list):
    output_dict = {}
    output_id = 0 #indice dell'output_id nella tupla
    output_value = 3 #indice dell'output_value nella tupla
    for i in range(0, len(outputs_list)):
        output_dict[outputs_list[i][output_id]] = outputs_list[i][output_value]
    
    return output_dict

In [290]:
def create_sum_output_by_tx_id_dictionary(outputs_list):
    sum_output_value_per_transaction = {}
    transaction_id = 1# indice dell'id della transazione nella singola tupla appartentente a output_list
    output_value = 3 #indice dell'output value nella singola tupla appartentente a output_list
    for i in range(0, len(outputs_list)):
        tx_id = outputs_list[i][transaction_id]
        if tx_id in sum_output_value_per_transaction:
            sum_output_value_per_transaction[tx_id] += outputs_list[i][output_value]
        else:
            sum_output_value_per_transaction[tx_id] = outputs_list[i][output_value]
        
    return sum_output_value_per_transaction

In [291]:
def create_output_dictionary_with_pk_id(output_list):
    output_dict = {}
    output_id = 0 #indice dell'output_id nella tupla
    pk_id_index = 2 #indice dell'output_value nella tupla
    for i in range(0, len(outputs_list)):
        output_dict[outputs_list[i][output_id]] = outputs_list[i][pk_id_index]
    
    return output_dict

In [5]:
#reading .csv file
transactions = pd.read_csv('../data_with_header/transactions.csv', index_col=False)
inputs = pd.read_csv('../data_with_header/inputs.csv', index_col=False)
outputs = pd.read_csv('../data_with_header/outputs.csv', index_col=False)
dates = pd.read_csv('../data_with_header/dates.csv', index_col=False)

## 2) Check if all the data contained in the dataset is consistent, and if some data is invalid, describe what is the problem of that data and remove it from the dataset.

In [293]:
print("--------CHECK IF ONE OUTPUT_ID IS USED TWICE--------\n")
#quinta verifica: controllare che ad ogni output_id nel file di inputs corrisponda un solo id nel file di outputà


o_input = inputs['output_id'].value_counts()
o_input_frame = o_input.to_frame()
no_valid_transactions = []

print("output_id with the number of occurrences that appear in the input.csv file")
o_input_frame = o_input_frame.rename(columns={'': 'output_id', 'output_id': 'count'})
o_input_frame_filtered =  o_input_frame.query('count >= 2')
print(o_input_frame_filtered)
print("\n")

output_used_twice = o_input_frame_filtered.index.values.tolist()

for element in output_used_twice:
    if element == -1:
        output_used_twice.remove(element)

print("The output ids that have been used more than once are") 
print(output_used_twice)
print("We can see that the output with id = -1 is not considered because it denotes a coinbase transaction\n")


print("Input row with output_id that have the problems of double spending")
for i in range(0, len(output_used_twice)):
    inputs_with_double_output_id = inputs.loc[inputs['output_id'] == output_used_twice[i]]
    print(inputs_with_double_output_id)
    print("\n")
    transactions_to_eliminate = select_transactions_to_eliminate(inputs_with_double_output_id, inputs, outputs)
    no_valid_transactions.extend(transactions_to_eliminate)

print("The following tx_id are not valid: " + str(no_valid_transactions))
print("\n")

print("You must ensure that the output that is produced by these eliminated transactions is not being used as input for subsequent transactions.\n")

check_output_of_invalid_transactions(no_valid_transactions)
eliminate_invalid_transactions(no_valid_transactions)

--------CHECK IF ONE OUTPUT_ID IS USED TWICE--------

output_id with the number of occurrences that appear in the input.csv file
          count
-1       100018
 65403        2
 249860       2
 7998         2
 21928        2


The output ids that have been used more than once are
[65403, 249860, 7998, 21928]
We can see that the output with id = -1 is not considered because it denotes a coinbase transaction

Input row with output_id that have the problems of double spending
          id  tx_id  sig_id  output_id
76746  76747  61843  138980      65403
76749  76750  61845  138980      65403


            id   tx_id  sig_id  output_id
275613  275614  204751  163625     249860
279608  279609  207365  163625     249860


          id  tx_id  sig_id  output_id
8665    8666   8231    7941       7998
12819  12820  12152    7941       7998


          id  tx_id  sig_id  output_id
33112  33113  30446   21807      21928
33113  33114  30446   21807      21928


The following tx_id are not valid: [61845, 204751, 12152, 30446]


You must ensure that the output that is produced by these eliminated transactions is not being used as input for subsequent transactions.

The transaction outputs to be deleted are not used as inputs for other transactions

INVALID TRANSACTION ELIMINATED

In [294]:
print("--------CHECK IF REWARD FOR THE MINING IS 5000000000--------\n")
to_check = inputs.loc[inputs['output_id'] == -1]
tx_id_to_check = to_check['tx_id']
list_tx = tx_id_to_check.values.tolist()
tx_to_check = []
for tx in list_tx:
    o_rows = outputs.loc[outputs['tx_id'] == tx]
    total = o_rows['value'].sum()
    if(total != 5000000000):
        tx_to_check.append(tx)

output_of_invalid_transactions_list = output_of_invalid_transactions(tx_to_check)
print(output_of_invalid_transactions_list)

--------CHECK IF REWARD FOR THE MINING IS 5000000000--------

[20966, 25691, 34714, 39753, 49700, 60228, 64437, 64505, 87195, 96548, 96565, 96585, 96590, 96609, 96629, 96633, 96652, 96691, 96728, 96752, 96765, 96770, 96775, 96795, 96826, 96844, 96851, 96885, 96889, 96980, 97034, 98712, 98718, 98724, 98745, 98748, 98752, 98795, 98809, 98823, 98849, 98994, 99020, 99033, 99701, 99747, 99796, 99804, 99812, 99857, 99875, 99882, 99890, 99894, 99899, 99910, 99978, 99984, 99998, 100004, 100011, 100071, 100087, 100112, 100115, 100129, 100133, 100155, 100188, 100203, 100209, 100219, 100244, 100260, 100266, 100278, 100292, 100317, 100324, 100330, 104922, 104925, 104940, 104950, 104975, 104979, 105029, 105069, 107474, 107873, 107947, 107958, 107960, 107973, 107978, 107986, 107997, 108030, 108197, 108232, 108239, 108283, 108305, 108337, 108365, 108376, 108396, 108417, 108433, 108463, 108502, 108605, 108666, 108684, 108697, 108712, 108729, 108741, 108788, 108792, 108802, 108820, 108824, 108846, 108856, 108910, 108929, 108933, 109001, 109005, 109019, 109024, 109036, 109044, 109047, 109072, 109095, 109097, 109116, 109128, 109147, 109261, 109281, 109330, 109340, 109356, 109427, 109441, 109452, 109487, 110846, 113352, 113553, 113569, 113589, 113598, 113603, 113613, 113637, 113697, 113713, 113732, 113757, 113772, 113775, 113790, 113803, 113826, 113846, 113861, 113887, 113895, 113909, 113916, 113926, 113930, 113953, 113957, 113965, 113968, 113971, 113987, 114001, 114041, 114052, 114063, 114093, 114135, 114147, 114153, 114233, 114262, 114274, 114314, 114330, 114385, 114389, 114392, 114401, 114423, 114437, 114458, 114462, 114472, 114487, 114509, 114520, 114551, 114680, 114689, 114705, 114737, 114787, 114812, 114817, 114822, 114830, 114848, 119058, 123254, 126390, 127950, 127969, 127985, 128007, 128020, 128032, 128079, 128094, 128241, 128248, 128253, 128258, 128263, 128278, 128289, 128308, 128321, 128330, 128344, 128357, 128368, 128378, 128384, 128399, 128411, 128447, 128461, 128476, 128485, 128512, 128529, 128539, 128547, 128551, 128555, 128590, 128637, 128641, 128662, 128681, 128685, 128714, 128728, 128768, 128826, 128956, 129027, 129071, 129085, 129116, 129140, 129170, 129187, 129221, 129224, 129252, 129265, 129283, 129318, 129353, 129377, 129400, 129407, 129419, 129426, 129464, 129483, 129889, 131214, 131528, 132167, 132379, 132578, 132614, 132617, 132743, 132750, 132866, 133950, 133965, 133989, 133997, 134003, 134009, 134017, 134025, 134784, 135146, 137034, 139148, 143868, 144266, 144269, 144296, 144372, 144382, 144538, 144577, 144580, 144584, 144587, 146912, 148021, 148420, 148858, 149041, 149485, 150496, 150520, 152745, 156258, 170434, 178575, 203453, 205139, 205359, 205686, 206127, 206130, 206576, 207507, 209273, 209708, 209927, 210150, 210154, 210375, 210850, 211095, 211315, 211321, 211324, 211781, 212228, 212451, 212679, 212691, 212707, 213543, 214531, 214977, 214982, 215162, 215176, 215183, 215190, 215199, 215207, 215217, 215234, 215237, 215240, 215246, 215249, 215252, 215263, 215266, 215282, 215433, 215449, 215670, 215679, 215688, 215703, 215733, 215751, 215784, 215800, 215814, 216023, 216701, 216921, 217772, 217997, 218218, 218658, 218878, 220145, 220284, 220355, 220751, 220972, 221191, 221233, 221453, 221906, 222126, 222142, 222624, 222846, 222862, 223096, 223548, 223783, 224653, 224877, 224893, 224897, 225179, 225284, 225300, 225306, 225335, 225339, 225703, 225708, 225713, 225717, 225727, 225737, 225744, 225750, 225753, 225760, 225764, 225779, 225798, 225808, 225819, 225823, 225835, 225839, 225843, 225858, 225867, 225881, 225901, 225913, 225934, 226008, 226020, 226035, 226039, 226062, 226078, 226098, 226104, 226113, 226121, 226128, 226149, 226157, 226176, 226183, 226206, 226224, 226235, 226245, 226252, 226279, 226293, 226301, 226311, 226314, 226320, 226335, 226338, 226342, 226367, 226379, 226388, 226405, 226452, 226461, 226469, 226481, 226522, 226525, 226548, 226554, 226561, 226572, 226581, 226592, 226601, 226610, 226629, 226632, 226638, 226659, 226667, 226683, 226687, 226711, 226738, 226744, 226761, 226766, 226783, 226815, 226842, 226868, 226908, 226935, 226946, 226972, 236293, 237787, 238195, 238548, 239778, 240289, 240755, 240874, 241155, 241489, 241499, 241507, 241511, 241733, 241891, 242215, 242930, 243144, 243595, 243605, 243632, 243677, 243870, 244215, 244421, 244720, 244817, 244825, 244851, 244904, 244988, 245323, 245508, 245514, 245720, 245790, 245868, 245877, 246219, 246415, 246419, 246491, 246730, 246736, 246744, 246829, 247055, 247307, 247325, 247545, 247550, 247589, 247632, 247781, 247796, 248014, 248072, 248101, 248207, 248663, 248723, 248951, 249059, 249462, 250442, 250720, 250746, 250908, 250935, 251250, 251278, 251429, 251790, 251839, 251847, 252284, 252482, 252620, 252826, 253117, 253157, 253344, 253581, 253835, 254308, 254316, 254348, 254443, 254457, 254538, 254617, 254704, 254752, 254911, 255158, 256468, 256591, 256600, 256960, 257214, 257316, 257334, 257375, 257488, 257536, 257673, 257812, 257820, 257835, 257881, 257934, 258003, 259497, 259802, 259942, 260585, 261046, 261081, 261201, 261533, 261778, 261935, 262041, 263297]

In [295]:
print("Number of Coinbase transactions with reward != 5000000000: " + str(len(tx_to_check)))
print("Number of outputs that are used in other transactions: " + str(len(output_of_invalid_transactions_list)))

Number of Coinbase transactions with reward != 5000000000: 915
Number of outputs that are used in other transactions: 641

In [296]:
#first check: verify that the tx_id that appears in the inputs.csv file is a valid one considering the tx_id in the transactions.csv file
print("--------CHECK IF IF TX_ID IN INPUT.CSV IS VALID--------")
transactions_dict = create_transaction_dictonary(transactions)
inputs_list = inputs.values.tolist()
outputs_list = outputs.values.tolist()
transactions_list = transactions.values.tolist()  
contatore = 0
for i in range(0, len(inputs_list)):
    if (inputs_list[i][1] not in transactions_dict):
        contatore = contatore + 1
if(contatore == 0):
    print("Test passed")

--------CHECK IF IF TX_ID IN INPUT.CSV IS VALID--------
Test passed

In [297]:
print("--------CHECK IF IF TX_ID IN OUTPUT.CSV IS VALID--------")
#second check: verify that the tx_id that appears in the outputs.csv file is a valid one considering the tx_id in the transactions.csv file
contatore = 0
for i in range(0, len(outputs_list)):
    if (outputs_list[i][1] not in transactions_dict):
        contatore = contatore + 1
if(contatore == 0):
    print("Test passed")

--------CHECK IF IF TX_ID IN OUTPUT.CSV IS VALID--------
Test passed

In [298]:
print("--------CHECK IF IF OUTPUT_ID IN INPUT.CSV IS VALID--------")
#terza verifica: verifica che l'output_id che appare nel file di input.csv sia un output_id valido,
#ossia che sia presente nel file output.csv, per avere un accesso diretto al file di output, lo trasformo in un dizionario
output_dict = create_output_dictionary(outputs_list)
inputs_list = inputs.values.tolist()
output_id = 3 
tx_id = 1
no_valid_transactions = []

for i in range(0, len(inputs_list)):
    if(inputs_list[i][output_id] == -1):
        continue #is coinbase transaction
        
    if (inputs_list[i][output_id] not in output_dict):
        no_valid_transactions.append(inputs_list[i][tx_id])
        print('Invalid tx_id: ' + str(inputs_list[i][1]))
        print('Output_id that does not exist: ' + str(inputs_list[i][output_id]))
        print('Invalid transaction input_id: ' + str(inputs_list[i][0]))
        print("\n")

print("Transactions_id with inputs that don't have a valid output_id are: " + str(no_valid_transactions) + "\n")

print("You must ensure that the output that is produced by these eliminated transactions is not being used as input for subsequent transactions.\n")
check_output_of_invalid_transactions(no_valid_transactions)

eliminate_invalid_transactions(no_valid_transactions)

--------CHECK IF IF OUTPUT_ID IN INPUT.CSV IS VALID--------
Invalid tx_id: 15698
Output_id that does not exist: 265834
Invalid transaction input_id: 16461


Transactions_id with inputs that don't have a valid output_id are: [15698]

You must ensure that the output that is produced by these eliminated transactions is not being used as input for subsequent transactions.

The transaction outputs to be deleted are not used as inputs for other transactions

INVALID TRANSACTION ELIMINATED

In [299]:
print("--------CHECK FOR FOR EACH IF THE SUM OF INPUT > SUM OF OUTPUT--------\n")
no_valid_transactions = []
transactions_dict = create_transaction_dictonary(transactions)
inputs_list = inputs.values.tolist()
outputs_list = outputs.values.tolist()
transactions_list = transactions.values.tolist()  
output_dict = create_output_dictionary(outputs_list)

#quarta verifica: verifica che la somma dell'input sia maggiore della somma dell'output
sum_output_value_per_transaction = create_sum_output_by_tx_id_dictionary(outputs_list)
sum_input_value_per_transaction = create_sum_input_by_tx_id_dictionary(output_dict, inputs_list)
transaction_id = 0 #indice della tupla nella singola transazione della lista transactions_list

for i in range(0, len(transactions_list)):
    tx_id = transactions_list[i][transaction_id]
    
    output_value = sum_output_value_per_transaction.get(tx_id)
    input_value = sum_input_value_per_transaction.get(tx_id)
    if(input_value == -1):
        continue #coinbase transaction
    if(output_value > input_value):
        contatore +=1
        no_valid_transactions.append(tx_id)
        print("Input: " + str(input_value))
        print("Output: " + str(output_value))


print("Transactions to be eliminated that have the output value greater than the input value are: " + str(no_valid_transactions) + "\n")
print("You must ensure that the output that is produced by these eliminated transactions is not being used as input for subsequent transactions.\n")
check_output_of_invalid_transactions(no_valid_transactions)

eliminate_invalid_transactions(no_valid_transactions)

--------CHECK FOR FOR EACH IF THE SUM OF INPUT > SUM OF OUTPUT--------

Input: 5000000000
Output: 5000000010
Transactions to be eliminated that have the output value greater than the input value are: [100929]

You must ensure that the output that is produced by these eliminated transactions is not being used as input for subsequent transactions.

The transaction outputs to be deleted are not used as inputs for other transactions

INVALID TRANSACTION ELIMINATED

In [300]:
print("--------CHECK IF THERE ARE ANY MISSING BLOCKS_IDS--------\n")
#The blocks_id are consecutive (they starts with block_id = 0 up to its maximum value). 
#This test verifies that there are no missing values in the sequence (0, MAX (block_id)
missing_blocks_id = []
blocks_id_list = (transactions.block_id.unique()).tolist()
for i in range(0, len(blocks_id_list)-1):
    if blocks_id_list[i+1] != blocks_id_list[i] + 1:
        missing_blocks_id.append(blocks_id_list[i] + 1)
print("Missing blocks_id are: " + str(missing_blocks_id))

--------CHECK IF THERE ARE ANY MISSING BLOCKS_IDS--------

Missing blocks_id are: [91857]

In [301]:
print("--------CHECK IF PK ID OF THE OUTPUT THAT IS IN INPUT IS = SIG ID--------\n")
inputs_list = inputs.values.tolist()
o_dict_with_pk = create_output_dictionary_with_pk_id(outputs.values.tolist())
sig_id_index = 2
output_id_index = 3
tx_id_index = 1
invalid_transactions = []
for element in inputs_list:
    sig_id = element[sig_id_index]
    if sig_id != -1:
        output_to_check = element[output_id_index]
        if output_to_check != -1:
            pk_id = o_dict_with_pk.get(output_to_check)
            if(sig_id != pk_id):
                print("Input: " + str(element))
                print("Output pk_id used: " + str(pk_id))
                invalid_transactions.append(element[tx_id_index])
print("In this transactions the sig_id in input != pk_id of the output used: " + str(invalid_transactions))
print("You must ensure that the output that is produced by these eliminated transactions is not being used as input for subsequent transactions.\n")
check_output_of_invalid_transactions(invalid_transactions)
eliminate_invalid_transactions(invalid_transactions)

--------CHECK IF PK ID OF THE OUTPUT THAT IS IN INPUT IS = SIG ID--------

Input: [194075, 138278, 139250, 16121]
Output pk_id used: 16020
In this transactions the sig_id in input != pk_id of the output used: [138278]
You must ensure that the output that is produced by these eliminated transactions is not being used as input for subsequent transactions.

The transaction outputs to be deleted are not used as inputs for other transactions

INVALID TRANSACTION ELIMINATED

## 3) Compute the total amount of UTXOs (Unspent Transaction Outputs) existing as of the last block of the data set, i.e. the sum of all the Transaction outputs balances on the UTXO set of the last block. Which UTXO (TxId, blockId, output index and address) has the highest asso- ciated value?

In [302]:
#creating a dictionary of the input.csv file using the output_id as a key. 
#This way I check with a single access to the dictionary if a specific output id has been spent
max_uxto_tx_id = 0
max_uxto_block_id = 0
max_uxto_output_id = 0
max_uxto_address = 0
max_uxto_value = 0
total_uxto = 0

outputs_list = outputs.values.tolist()
output_id = 0
value_index = 3
tx_index = 1
address_index = 2
input_dictionary_with_o_id_key =  create_inputs_dictionary_with_key_output_id(inputs)

for element in outputs_list:
    o_id = element[output_id]
    output_value = element[value_index]
    if o_id not in input_dictionary_with_o_id_key:
        total_uxto += output_value
        if output_value > max_uxto_value:
            max_uxto_tx_id = element[tx_index]
            max_uxto_output_id = o_id
            max_uxto_address = element[address_index]
            max_uxto_value = output_value
            max_uxto_block_id = find_block_id(element[tx_index])

print("The total amount of UTXOs existing as of the last block of the data set is: " + str(total_uxto) + "\n")

print("Max UXTO:")
print("\ttx_id: " + str(max_uxto_tx_id))
print("\tblock_id: " + str(max_uxto_block_id))
print("\toutput_id: " + str(max_uxto_output_id))
print("\taddress: " + str(max_uxto_address))
print("\tvalue: " + str(max_uxto_value))

The total amount of UTXOs existing as of the last block of the data set is: 500074833333344

Max UXTO:
	tx_id: 140479
	block_id: 90532
	output_id: 170430
	address: 138895
	value: 9000000000000

## 4) The distribution of the block occupancy, i.e. of the number of transactions in each block in the entire period of time. Furthermore, show the evolution in time of the block size, by considering a time step of one month.

In [303]:
#creation of dataframe with transaction number contained within each block
transaction_per_block = transactions.groupby('block_id').count()
transaction_per_block.rename(columns = {'id':'n_tx'}, inplace = True)
block_id_list = transaction_per_block.index.values.tolist()   
n_tx_per_block_list = transaction_per_block['n_tx'].tolist()
transaction_per_block = pd.DataFrame(list(zip(block_id_list, n_tx_per_block_list )), columns = ['block_id', 'n_tx'])
transaction_per_block


dates_list = dates.values.tolist()
only_year_month = []
list_block_id = []

#I remove the time and day from the time column since what we are interested in is to 
#see the number of transactions in a month
block_index = 0
date_index = 1
for i in range(0, len(dates_list)):
    if (dates_list[i][block_index] not in missing_blocks_id ):
        date = dates_list[i][date_index][0:7:1]
        only_year_month.append(date)
        list_block_id.append(dates_list[i][block_index] )
    else:
        print("saltato")

blocks_with_date = pd.DataFrame(list(zip(list_block_id, only_year_month )), columns = ['block_id', 'date'])

block_tx_with_date = transaction_per_block.merge(blocks_with_date, on='block_id')
transaction_per_month = block_tx_with_date.groupby(['date'])['n_tx'].sum()
transaction_per_month

saltato

date
2009-01     2576
2009-02     3417
2009-03     3490
2009-04     3460
2009-05     3401
2009-06     2244
2009-07     1930
2009-08     1570
2009-09     2170
2009-10     2139
2009-11     2232
2009-12     4084
2010-01     5056
2010-02     5751
2010-03     5398
2010-04     9633
2010-05     6217
2010-06     6684
2010-07    26485
2010-08    11967
2010-09    13183
2010-10    14393
2010-11    63408
2010-12    15731
Name: n_tx, dtype: int64

In [304]:
transaction_per_block

        block_id  n_tx
0              0     1
1              1     1
2              2     1
3              3     1
4              4     1
...          ...   ...
100012    100013     2
100013    100014     1
100014    100015     1
100015    100016     5
100016    100017     1

[100017 rows x 2 columns]

In [305]:
#write information aboute transctions per block  in month_tx.csv file.

list_of_month = transaction_per_month.index.values.tolist() 
value = transaction_per_month.tolist()


f = open('month_tx.csv', 'w')
writer = csv.writer(f)
header = ['month', 'tot_tx']
writer.writerow(header)
for i in range  (0,len(list_of_month)):
    row = []
    row.append(list_of_month[i])
    row.append(value[i])
    writer.writerow(row)
f.close()

## 5) The total amount of bitcoin received from each public key that has received at least one COINBASE transaction, in the considered period, and show a distribution of the values

In [306]:
pk_coinbase_value_dict = {}
coinbase_transaction_df = inputs.loc[inputs['output_id']== -1]
coinbase_tx_list = coinbase_transaction_df['tx_id'].tolist()

pk_id_index = 2
value_index = 3
for i in range(0, len(coinbase_tx_list)):
    df_output_coinbase = outputs.loc[outputs['tx_id']== coinbase_tx_list[i]]
    df_output_coinbase_list = df_output_coinbase.values.tolist()
    for j in range(0, len(df_output_coinbase_list)):
        pk_id = df_output_coinbase_list[j][pk_id_index]
        value = df_output_coinbase_list[j][value_index]
        if pk_id not in pk_coinbase_value_dict:
            pk_coinbase_value_dict[pk_id] = value
        else:
            pk_coinbase_value_dict[pk_id] += value

In [307]:
#write information about coinbase in coinbase_value.csv file
f = open('coinbase_value.csv', 'w')
writer = csv.writer(f)
max_value_coinbase = 0
max_pk_id = 0
header = ['pk_id', 'reward'] 
writer.writerow(header)
for key in pk_coinbase_value_dict:
    row = []
    pk_id = key
    reward = pk_coinbase_value_dict.get(key)
    if(reward > max_value_coinbase):
        max_value_coinbase = reward
        max_pk_id = key
    row.append(pk_id)
    row.append(reward)
    writer.writerow(row)

print("PK_ID: " + str(max_pk_id) + " has the max reward with value: " + str(max_value_coinbase))
f.close()

PK_ID: 109834 has the max reward with value: 35000000000

In [308]:
total_transactions = len(transactions)
coinbase_transactions = len(coinbase_tx_list)
print('Total number of transactions in the dataset: ' + str(total_transactions))
print('Total number of coinbase transactions in the dataset: ' + str(coinbase_transactions))

Total number of transactions in the dataset: 216619
Total number of coinbase transactions in the dataset: 100018

## 6) The distribution of the fees spent in each transaction in the considered period.

In [309]:

transactions_dict = create_transaction_dictonary(transactions)
inputs_list = inputs.values.tolist()
outputs_list = outputs.values.tolist()
transactions_list = transactions.values.tolist()  
output_dict = create_output_dictionary(outputs_list)
max_fees_value = 0
max_tx = 0
sum_output_value_per_transaction = create_sum_output_by_tx_id_dictionary(outputs_list)
sum_input_value_per_transaction = create_sum_input_by_tx_id_dictionary(output_dict, inputs_list)
transaction_id = 0 #indice della tupla nella singola transazione della lista transactions_list
transactions_block_id = 1 #index of the block_id 
transactions_with_fees = []
for i in range(0, len(transactions_list)):
    tx_id = transactions_list[i][transaction_id]
    block_id = transactions_list[i][transactions_block_id]
    output_value = sum_output_value_per_transaction.get(tx_id)
    input_value = sum_input_value_per_transaction.get(tx_id)
    if(input_value == -1):
        continue #coinbase transaction
    if(input_value > output_value):
        fees = input_value - output_value
        if fees > max_fees_value:
            max_fees_value = fees
            max_tx = tx_id
        coinbase_transaction = [tx_id, block_id, input_value, output_value, fees]
        transactions_with_fees.append(coinbase_transaction)

print("Number of transactions with fees: " + str(len(transactions_with_fees)))
print("Transaction with max fees:")
print("\tTransaction Id: " + str(max_tx))
print("\tValue of the fees: " + str(max_fees_value))

Number of transactions with fees: 1301
Transaction with max fees:
	Transaction Id: 105281
	Value of the fees: 10000000000

In [310]:
#write information aboute transactions fees in transactions_with_fee.csv file.
f = open('transactions_with_fee.csv', 'w')
writer = csv.writer(f)
header = ['tx_id', 'block_id', 'total_input', 'total_output', 'fees'] 
writer.writerow(header)
for i in range  (0, len(transactions_with_fees)):
    writer.writerow(transactions_with_fees[i])

f.close()

In [311]:
step = int(max_fees_value/20)
min_limit = 0
max_limit = step

value_index = 4
range_dict = {}
while min_limit < max_fees_value:
    key = str(min_limit) + "-" + str(max_limit)
    range_dict[key] = 0
    for i in range(0, len(transactions_with_fees)):
        value = transactions_with_fees[i][value_index]
        if(min_limit < value and value <= max_limit):
            range_dict[key] += 1

    min_limit = max_limit
    max_limit += step
    
for key in range_dict:
    print(str(key) + "->" + str(range_dict.get(key)))

0-500000000->1298
500000000-1000000000->0
1000000000-1500000000->0
1500000000-2000000000->0
2000000000-2500000000->0
2500000000-3000000000->0
3000000000-3500000000->0
3500000000-4000000000->0
4000000000-4500000000->0
4500000000-5000000000->2
5000000000-5500000000->0
5500000000-6000000000->0
6000000000-6500000000->0
6500000000-7000000000->0
7000000000-7500000000->0
7500000000-8000000000->0
8000000000-8500000000->0
8500000000-9000000000->0
9000000000-9500000000->0
9500000000-10000000000->1

In [312]:
i = 1
for key in range_dict:
    print("Range " + str(i) + ": "  + str(key) + " satoshi")
    i += 1

Range 1: 0-500000000 satoshi
Range 2: 500000000-1000000000 satoshi
Range 3: 1000000000-1500000000 satoshi
Range 4: 1500000000-2000000000 satoshi
Range 5: 2000000000-2500000000 satoshi
Range 6: 2500000000-3000000000 satoshi
Range 7: 3000000000-3500000000 satoshi
Range 8: 3500000000-4000000000 satoshi
Range 9: 4000000000-4500000000 satoshi
Range 10: 4500000000-5000000000 satoshi
Range 11: 5000000000-5500000000 satoshi
Range 12: 5500000000-6000000000 satoshi
Range 13: 6000000000-6500000000 satoshi
Range 14: 6500000000-7000000000 satoshi
Range 15: 7000000000-7500000000 satoshi
Range 16: 7500000000-8000000000 satoshi
Range 17: 8000000000-8500000000 satoshi
Range 18: 8500000000-9000000000 satoshi
Range 19: 9000000000-9500000000 satoshi
Range 20: 9500000000-10000000000 satoshi

In [313]:
#write information aboute range transactions fees in fees_range.csv file.
f = open('fees_range.csv', 'w')
writer = csv.writer(f)
header = ['range', 'number_transactions'] 
writer.writerow(header)
for key in range_dict:
    row = [key]
    value = range_dict.get(key)
    row.append(value)
    writer.writerow(row)

f.close()

In [314]:
#Since most transactions have fees in the first range, let's see how the transactions in this range 
#are distributed by further dividing this range into sub ranges
limit = 500000000
step = int(limit / 1000)
min_limit_sub = 0
max_limit_sub = step
value_index = 4
range_dict_sub = {}
while min_limit_sub < limit:
    key = str(min_limit_sub) + "-" + str(max_limit_sub)
    range_dict_sub[key] = 0
    for i in range(0, len(transactions_with_fees)):
        value = transactions_with_fees[i][value_index]
        if(min_limit_sub < value and value <= max_limit_sub):
            range_dict_sub[key] += 1
    
    min_limit_sub = max_limit_sub
    max_limit_sub += step

for key in range_dict_sub:
    print(str(key) + "->" + str(range_dict_sub.get(key)))

0-500000->49
500000-1000000->1199
1000000-1500000->1
1500000-2000000->6
2000000-2500000->0
2500000-3000000->2
3000000-3500000->0
3500000-4000000->1
4000000-4500000->0
4500000-5000000->3
5000000-5500000->0
5500000-6000000->0
6000000-6500000->0
6500000-7000000->0
7000000-7500000->0
7500000-8000000->0
8000000-8500000->0
8500000-9000000->0
9000000-9500000->0
9500000-10000000->1
10000000-10500000->0
10500000-11000000->0
11000000-11500000->0
11500000-12000000->3
12000000-12500000->0
12500000-13000000->2
13000000-13500000->0
13500000-14000000->2
14000000-14500000->0
14500000-15000000->0
15000000-15500000->0
15500000-16000000->0
16000000-16500000->0
16500000-17000000->0
17000000-17500000->0
17500000-18000000->1
18000000-18500000->0
18500000-19000000->0
19000000-19500000->0
19500000-20000000->0
20000000-20500000->0
20500000-21000000->0
21000000-21500000->0
21500000-22000000->1
22000000-22500000->0
22500000-23000000->0
23000000-23500000->0
23500000-24000000->0
24000000-24500000->0
24500000-25000000->0
25000000-25500000->0
25500000-26000000->1
26000000-26500000->0
26500000-27000000->0
27000000-27500000->0
27500000-28000000->0
28000000-28500000->0
28500000-29000000->1
29000000-29500000->0
29500000-30000000->0
30000000-30500000->0
30500000-31000000->0
31000000-31500000->0
31500000-32000000->0
32000000-32500000->0
32500000-33000000->0
33000000-33500000->0
33500000-34000000->0
34000000-34500000->0
34500000-35000000->1
35000000-35500000->0
35500000-36000000->1
36000000-36500000->0
36500000-37000000->0
37000000-37500000->0
37500000-38000000->0
38000000-38500000->0
38500000-39000000->0
39000000-39500000->0
39500000-40000000->0
40000000-40500000->0
40500000-41000000->0
41000000-41500000->0
41500000-42000000->0
42000000-42500000->0
42500000-43000000->0
43000000-43500000->0
43500000-44000000->1
44000000-44500000->0
44500000-45000000->0
45000000-45500000->0
45500000-46000000->0
46000000-46500000->0
46500000-47000000->0
47000000-47500000->0
47500000-48000000->1
48000000-48500000->0
48500000-49000000->0
49000000-49500000->0
49500000-50000000->0
50000000-50500000->0
50500000-51000000->0
51000000-51500000->0
51500000-52000000->0
52000000-52500000->0
52500000-53000000->0
53000000-53500000->0
53500000-54000000->0
54000000-54500000->0
54500000-55000000->0
55000000-55500000->0
55500000-56000000->0
56000000-56500000->0
56500000-57000000->0
57000000-57500000->0
57500000-58000000->0
58000000-58500000->0
58500000-59000000->0
59000000-59500000->0
59500000-60000000->0
60000000-60500000->0
60500000-61000000->0
61000000-61500000->0
61500000-62000000->0
62000000-62500000->0
62500000-63000000->1
63000000-63500000->0
63500000-64000000->0
64000000-64500000->0
64500000-65000000->0
65000000-65500000->0
65500000-66000000->0
66000000-66500000->0
66500000-67000000->1
67000000-67500000->0
67500000-68000000->0
68000000-68500000->0
68500000-69000000->0
69000000-69500000->0
69500000-70000000->0
70000000-70500000->0
70500000-71000000->0
71000000-71500000->0
71500000-72000000->0
72000000-72500000->0
72500000-73000000->0
73000000-73500000->0
73500000-74000000->0
74000000-74500000->0
74500000-75000000->0
75000000-75500000->0
75500000-76000000->0
76000000-76500000->0
76500000-77000000->0
77000000-77500000->0
77500000-78000000->0
78000000-78500000->0
78500000-79000000->0
79000000-79500000->0
79500000-80000000->1
80000000-80500000->0
80500000-81000000->0
81000000-81500000->0
81500000-82000000->0
82000000-82500000->0
82500000-83000000->1
83000000-83500000->0
83500000-84000000->0
84000000-84500000->0
84500000-85000000->0
85000000-85500000->0
85500000-86000000->0
86000000-86500000->0
86500000-87000000->0
87000000-87500000->0
87500000-88000000->0
88000000-88500000->0
88500000-89000000->1
89000000-89500000->0
89500000-90000000->0
90000000-90500000->0
90500000-91000000->0
91000000-91500000->0
91500000-92000000->0
92000000-92500000->0
92500000-93000000->0
93000000-93500000->0
93500000-94000000->0
94000000-94500000->0
94500000-95000000->1
95000000-95500000->0
95500000-96000000->0
96000000-96500000->0
96500000-97000000->0
97000000-97500000->0
97500000-98000000->0
98000000-98500000->0
98500000-99000000->1
99000000-99500000->0
99500000-100000000->2
100000000-100500000->0
100500000-101000000->0
101000000-101500000->0
101500000-102000000->0
102000000-102500000->0
102500000-103000000->1
103000000-103500000->0
103500000-104000000->0
104000000-104500000->0
104500000-105000000->0
105000000-105500000->0
105500000-106000000->0
106000000-106500000->0
106500000-107000000->1
107000000-107500000->0
107500000-108000000->0
108000000-108500000->0
108500000-109000000->0
109000000-109500000->0
109500000-110000000->0
110000000-110500000->0
110500000-111000000->0
111000000-111500000->0
111500000-112000000->0
112000000-112500000->0
112500000-113000000->0
113000000-113500000->0
113500000-114000000->0
114000000-114500000->0
114500000-115000000->0
115000000-115500000->0
115500000-116000000->0
116000000-116500000->0
116500000-117000000->0
117000000-117500000->0
117500000-118000000->1
118000000-118500000->0
118500000-119000000->0
119000000-119500000->0
119500000-120000000->0
120000000-120500000->0
120500000-121000000->0
121000000-121500000->0
121500000-122000000->0
122000000-122500000->0
122500000-123000000->0
123000000-123500000->0
123500000-124000000->0
124000000-124500000->0
124500000-125000000->0
125000000-125500000->0
125500000-126000000->0
126000000-126500000->0
126500000-127000000->0
127000000-127500000->0
127500000-128000000->0
128000000-128500000->0
128500000-129000000->0
129000000-129500000->0
129500000-130000000->0
130000000-130500000->0
130500000-131000000->0
131000000-131500000->0
131500000-132000000->0
132000000-132500000->0
132500000-133000000->0
133000000-133500000->0
133500000-134000000->0
134000000-134500000->0
134500000-135000000->0
135000000-135500000->0
135500000-136000000->0
136000000-136500000->0
136500000-137000000->1
137000000-137500000->0
137500000-138000000->0
138000000-138500000->0
138500000-139000000->0
139000000-139500000->0
139500000-140000000->0
140000000-140500000->0
140500000-141000000->0
141000000-141500000->0
141500000-142000000->0
142000000-142500000->0
142500000-143000000->0
143000000-143500000->0
143500000-144000000->0
144000000-144500000->0
144500000-145000000->0
145000000-145500000->0
145500000-146000000->0
146000000-146500000->0
146500000-147000000->0
147000000-147500000->0
147500000-148000000->0
148000000-148500000->0
148500000-149000000->0
149000000-149500000->0
149500000-150000000->0
150000000-150500000->0
150500000-151000000->0
151000000-151500000->0
151500000-152000000->1
152000000-152500000->0
152500000-153000000->0
153000000-153500000->0
153500000-154000000->0
154000000-154500000->0
154500000-155000000->1
155000000-155500000->0
155500000-156000000->0
156000000-156500000->0
156500000-157000000->0
157000000-157500000->0
157500000-158000000->0
158000000-158500000->0
158500000-159000000->0
159000000-159500000->0
159500000-160000000->0
160000000-160500000->0
160500000-161000000->0
161000000-161500000->0
161500000-162000000->0
162000000-162500000->0
162500000-163000000->0
163000000-163500000->0
163500000-164000000->0
164000000-164500000->0
164500000-165000000->0
165000000-165500000->0
165500000-166000000->0
166000000-166500000->0
166500000-167000000->1
167000000-167500000->0
167500000-168000000->0
168000000-168500000->0
168500000-169000000->0
169000000-169500000->0
169500000-170000000->0
170000000-170500000->0
170500000-171000000->0
171000000-171500000->0
171500000-172000000->0
172000000-172500000->0
172500000-173000000->0
173000000-173500000->0
173500000-174000000->0
174000000-174500000->0
174500000-175000000->0
175000000-175500000->0
175500000-176000000->0
176000000-176500000->0
176500000-177000000->0
177000000-177500000->0
177500000-178000000->0
178000000-178500000->0
178500000-179000000->0
179000000-179500000->0
179500000-180000000->0
180000000-180500000->0
180500000-181000000->0
181000000-181500000->0
181500000-182000000->0
182000000-182500000->0
182500000-183000000->0
183000000-183500000->0
183500000-184000000->0
184000000-184500000->0
184500000-185000000->0
185000000-185500000->0
185500000-186000000->0
186000000-186500000->0
186500000-187000000->0
187000000-187500000->0
187500000-188000000->0
188000000-188500000->0
188500000-189000000->0
189000000-189500000->0
189500000-190000000->0
190000000-190500000->0
190500000-191000000->0
191000000-191500000->0
191500000-192000000->0
192000000-192500000->0
192500000-193000000->0
193000000-193500000->0
193500000-194000000->0
194000000-194500000->0
194500000-195000000->0
195000000-195500000->0
195500000-196000000->0
196000000-196500000->0
196500000-197000000->0
197000000-197500000->0
197500000-198000000->0
198000000-198500000->0
198500000-199000000->0
199000000-199500000->0
199500000-200000000->0
200000000-200500000->0
200500000-201000000->0
201000000-201500000->0
201500000-202000000->0
202000000-202500000->0
202500000-203000000->0
203000000-203500000->0
203500000-204000000->0
204000000-204500000->0
204500000-205000000->0
205000000-205500000->0
205500000-206000000->0
206000000-206500000->0
206500000-207000000->0
207000000-207500000->0
207500000-208000000->0
208000000-208500000->0
208500000-209000000->0
209000000-209500000->0
209500000-210000000->0
210000000-210500000->0
210500000-211000000->0
211000000-211500000->0
211500000-212000000->0
212000000-212500000->0
212500000-213000000->0
213000000-213500000->0
213500000-214000000->0
214000000-214500000->0
214500000-215000000->0
215000000-215500000->0
215500000-216000000->0
216000000-216500000->0
216500000-217000000->0
217000000-217500000->0
217500000-218000000->0
218000000-218500000->0
218500000-219000000->0
219000000-219500000->0
219500000-220000000->0
220000000-220500000->0
220500000-221000000->0
221000000-221500000->0
221500000-222000000->0
222000000-222500000->0
222500000-223000000->0
223000000-223500000->0
223500000-224000000->0
224000000-224500000->0
224500000-225000000->0
225000000-225500000->0
225500000-226000000->0
226000000-226500000->0
226500000-227000000->0
227000000-227500000->0
227500000-228000000->0
228000000-228500000->0
228500000-229000000->0
229000000-229500000->0
229500000-230000000->0
230000000-230500000->0
230500000-231000000->1
231000000-231500000->0
231500000-232000000->0
232000000-232500000->0
232500000-233000000->0
233000000-233500000->0
233500000-234000000->0
234000000-234500000->0
234500000-235000000->0
235000000-235500000->0
235500000-236000000->0
236000000-236500000->0
236500000-237000000->0
237000000-237500000->0
237500000-238000000->0
238000000-238500000->0
238500000-239000000->0
239000000-239500000->0
239500000-240000000->0
240000000-240500000->0
240500000-241000000->0
241000000-241500000->0
241500000-242000000->0
242000000-242500000->0
242500000-243000000->0
243000000-243500000->0
243500000-244000000->0
244000000-244500000->0
244500000-245000000->0
245000000-245500000->0
245500000-246000000->0
246000000-246500000->0
246500000-247000000->0
247000000-247500000->0
247500000-248000000->0
248000000-248500000->0
248500000-249000000->0
249000000-249500000->0
249500000-250000000->0
250000000-250500000->0
250500000-251000000->0
251000000-251500000->0
251500000-252000000->0
252000000-252500000->0
252500000-253000000->0
253000000-253500000->0
253500000-254000000->0
254000000-254500000->0
254500000-255000000->0
255000000-255500000->0
255500000-256000000->0
256000000-256500000->0
256500000-257000000->0
257000000-257500000->0
257500000-258000000->0
258000000-258500000->0
258500000-259000000->0
259000000-259500000->0
259500000-260000000->0
260000000-260500000->0
260500000-261000000->0
261000000-261500000->0
261500000-262000000->0
262000000-262500000->0
262500000-263000000->0
263000000-263500000->0
263500000-264000000->1
264000000-264500000->0
264500000-265000000->0
265000000-265500000->0
265500000-266000000->0
266000000-266500000->0
266500000-267000000->0
267000000-267500000->0
267500000-268000000->0
268000000-268500000->0
268500000-269000000->0
269000000-269500000->0
269500000-270000000->0
270000000-270500000->0
270500000-271000000->0
271000000-271500000->0
271500000-272000000->0
272000000-272500000->0
272500000-273000000->1
273000000-273500000->0
273500000-274000000->0
274000000-274500000->0
274500000-275000000->0
275000000-275500000->0
275500000-276000000->0
276000000-276500000->0
276500000-277000000->0
277000000-277500000->0
277500000-278000000->0
278000000-278500000->0
278500000-279000000->0
279000000-279500000->0
279500000-280000000->0
280000000-280500000->0
280500000-281000000->0
281000000-281500000->0
281500000-282000000->0
282000000-282500000->0
282500000-283000000->0
283000000-283500000->0
283500000-284000000->0
284000000-284500000->0
284500000-285000000->0
285000000-285500000->0
285500000-286000000->0
286000000-286500000->0
286500000-287000000->0
287000000-287500000->0
287500000-288000000->0
288000000-288500000->0
288500000-289000000->0
289000000-289500000->0
289500000-290000000->0
290000000-290500000->0
290500000-291000000->0
291000000-291500000->0
291500000-292000000->0
292000000-292500000->0
292500000-293000000->0
293000000-293500000->0
293500000-294000000->0
294000000-294500000->0
294500000-295000000->0
295000000-295500000->0
295500000-296000000->0
296000000-296500000->0
296500000-297000000->0
297000000-297500000->0
297500000-298000000->0
298000000-298500000->0
298500000-299000000->0
299000000-299500000->0
299500000-300000000->0
300000000-300500000->0
300500000-301000000->0
301000000-301500000->0
301500000-302000000->0
302000000-302500000->0
302500000-303000000->0
303000000-303500000->0
303500000-304000000->0
304000000-304500000->0
304500000-305000000->0
305000000-305500000->0
305500000-306000000->0
306000000-306500000->0
306500000-307000000->0
307000000-307500000->0
307500000-308000000->0
308000000-308500000->0
308500000-309000000->0
309000000-309500000->0
309500000-310000000->0
310000000-310500000->0
310500000-311000000->0
311000000-311500000->0
311500000-312000000->0
312000000-312500000->0
312500000-313000000->0
313000000-313500000->0
313500000-314000000->0
314000000-314500000->0
314500000-315000000->0
315000000-315500000->0
315500000-316000000->0
316000000-316500000->0
316500000-317000000->0
317000000-317500000->0
317500000-318000000->0
318000000-318500000->0
318500000-319000000->0
319000000-319500000->0
319500000-320000000->0
320000000-320500000->0
320500000-321000000->0
321000000-321500000->0
321500000-322000000->0
322000000-322500000->0
322500000-323000000->0
323000000-323500000->0
323500000-324000000->0
324000000-324500000->0
324500000-325000000->0
325000000-325500000->0
325500000-326000000->0
326000000-326500000->0
326500000-327000000->0
327000000-327500000->0
327500000-328000000->0
328000000-328500000->0
328500000-329000000->0
329000000-329500000->0
329500000-330000000->0
330000000-330500000->0
330500000-331000000->0
331000000-331500000->0
331500000-332000000->0
332000000-332500000->0
332500000-333000000->0
333000000-333500000->0
333500000-334000000->0
334000000-334500000->0
334500000-335000000->1
335000000-335500000->0
335500000-336000000->0
336000000-336500000->0
336500000-337000000->0
337000000-337500000->0
337500000-338000000->0
338000000-338500000->0
338500000-339000000->0
339000000-339500000->0
339500000-340000000->0
340000000-340500000->0
340500000-341000000->0
341000000-341500000->0
341500000-342000000->0
342000000-342500000->0
342500000-343000000->0
343000000-343500000->0
343500000-344000000->0
344000000-344500000->0
344500000-345000000->0
345000000-345500000->0
345500000-346000000->0
346000000-346500000->0
346500000-347000000->0
347000000-347500000->0
347500000-348000000->0
348000000-348500000->0
348500000-349000000->0
349000000-349500000->0
349500000-350000000->0
350000000-350500000->0
350500000-351000000->0
351000000-351500000->0
351500000-352000000->0
352000000-352500000->0
352500000-353000000->0
353000000-353500000->0
353500000-354000000->0
354000000-354500000->0
354500000-355000000->0
355000000-355500000->0
355500000-356000000->0
356000000-356500000->0
356500000-357000000->0
357000000-357500000->0
357500000-358000000->0
358000000-358500000->0
358500000-359000000->0
359000000-359500000->0
359500000-360000000->0
360000000-360500000->0
360500000-361000000->0
361000000-361500000->0
361500000-362000000->0
362000000-362500000->0
362500000-363000000->0
363000000-363500000->0
363500000-364000000->0
364000000-364500000->0
364500000-365000000->0
365000000-365500000->0
365500000-366000000->0
366000000-366500000->0
366500000-367000000->0
367000000-367500000->0
367500000-368000000->0
368000000-368500000->0
368500000-369000000->0
369000000-369500000->0
369500000-370000000->0
370000000-370500000->0
370500000-371000000->0
371000000-371500000->0
371500000-372000000->0
372000000-372500000->0
372500000-373000000->0
373000000-373500000->0
373500000-374000000->0
374000000-374500000->0
374500000-375000000->0
375000000-375500000->0
375500000-376000000->0
376000000-376500000->0
376500000-377000000->0
377000000-377500000->0
377500000-378000000->0
378000000-378500000->0
378500000-379000000->0
379000000-379500000->0
379500000-380000000->0
380000000-380500000->0
380500000-381000000->0
381000000-381500000->0
381500000-382000000->0
382000000-382500000->0
382500000-383000000->0
383000000-383500000->0
383500000-384000000->0
384000000-384500000->0
384500000-385000000->0
385000000-385500000->0
385500000-386000000->0
386000000-386500000->0
386500000-387000000->0
387000000-387500000->0
387500000-388000000->0
388000000-388500000->0
388500000-389000000->0
389000000-389500000->0
389500000-390000000->0
390000000-390500000->0
390500000-391000000->0
391000000-391500000->0
391500000-392000000->0
392000000-392500000->0
392500000-393000000->0
393000000-393500000->0
393500000-394000000->0
394000000-394500000->0
394500000-395000000->0
395000000-395500000->0
395500000-396000000->0
396000000-396500000->0
396500000-397000000->0
397000000-397500000->0
397500000-398000000->0
398000000-398500000->0
398500000-399000000->0
399000000-399500000->0
399500000-400000000->0
400000000-400500000->0
400500000-401000000->0
401000000-401500000->0
401500000-402000000->0
402000000-402500000->0
402500000-403000000->0
403000000-403500000->0
403500000-404000000->0
404000000-404500000->0
404500000-405000000->0
405000000-405500000->0
405500000-406000000->0
406000000-406500000->0
406500000-407000000->0
407000000-407500000->0
407500000-408000000->0
408000000-408500000->0
408500000-409000000->0
409000000-409500000->0
409500000-410000000->0
410000000-410500000->0
410500000-411000000->0
411000000-411500000->0
411500000-412000000->0
412000000-412500000->0
412500000-413000000->0
413000000-413500000->0
413500000-414000000->0
414000000-414500000->0
414500000-415000000->0
415000000-415500000->0
415500000-416000000->0
416000000-416500000->0
416500000-417000000->0
417000000-417500000->0
417500000-418000000->0
418000000-418500000->0
418500000-419000000->0
419000000-419500000->0
419500000-420000000->0
420000000-420500000->0
420500000-421000000->0
421000000-421500000->0
421500000-422000000->0
422000000-422500000->0
422500000-423000000->0
423000000-423500000->0
423500000-424000000->0
424000000-424500000->0
424500000-425000000->0
425000000-425500000->0
425500000-426000000->0
426000000-426500000->0
426500000-427000000->0
427000000-427500000->0
427500000-428000000->0
428000000-428500000->0
428500000-429000000->0
429000000-429500000->0
429500000-430000000->0
430000000-430500000->0
430500000-431000000->0
431000000-431500000->0
431500000-432000000->1
432000000-432500000->0
432500000-433000000->0
433000000-433500000->0
433500000-434000000->0
434000000-434500000->0
434500000-435000000->0
435000000-435500000->0
435500000-436000000->0
436000000-436500000->0
436500000-437000000->0
437000000-437500000->0
437500000-438000000->0
438000000-438500000->0
438500000-439000000->0
439000000-439500000->0
439500000-440000000->0
440000000-440500000->0
440500000-441000000->0
441000000-441500000->0
441500000-442000000->0
442000000-442500000->0
442500000-443000000->0
443000000-443500000->0
443500000-444000000->0

## 7) Propose one further analysis of your choice. Give a brief description of the analysis and report the results.

In [315]:

transactions_with_fees_df= pd.DataFrame(transactions_with_fees, columns = ['tx_id', 'block_id', 'input_value', 'output_value', 'fees'])

fees_per_block = (transactions_with_fees_df.groupby(['block_id'])['fees'].sum())
blocks_id_with_fees = fees_per_block.index.values.tolist() 
fees = fees_per_block.tolist()
blocks_fees_df = pd.DataFrame(list(zip(blocks_id_with_fees, fees )), columns = ['block_id', 'tot_fees'])
blocks_fees_df

     block_id   tot_fees
0        2817  201000000
1       12986    3000000
2       14050   10000000
3       19867   14000000
4       20774   13000000
..        ...        ...
909     99959    5000000
910     99963    1000000
911     99989    5000000
912    100009    1000000
913    100016    3800000

[914 rows x 2 columns]

In [316]:
#write information aboute fees per block  in fees_block.csv file.
f = open('fees_block.csv', 'w')
writer = csv.writer(f)
header = ['block_id', 'tot_fees']
max_block_fee = 0
block_id_fees_max = 0
writer.writerow(header)
for i in range  (0,len(blocks_id_with_fees)):
    row = []
    block_id = blocks_id_with_fees[i]
    tot_fees = fees[i]
    row.append(block_id)
    row.append(tot_fees)
    writer.writerow(row)
    if tot_fees > max_block_fee:
        max_block_fee = tot_fees
        block_id_fees_max = block_id

f.close()

print("Block id with the highest total of fees: " + str(block_id_fees_max) + " with tot_fees: " + str(max_block_fee))
print("")

Block id with the highest total of fees: 75047 with tot_fees: 10000000000

In [317]:
limit = max_block_fee
step = int(limit / 10)
min_limit_sub = 0
max_limit_sub = step
range_dict_sub = {}
while min_limit_sub < limit:
    key = str(min_limit_sub) + "-" + str(max_limit_sub)
    range_dict_sub[key] = 0
    for i in range(0, len(fees)):
        value = fees[i]
        if(min_limit_sub < value and value <= max_limit_sub):
            range_dict_sub[key] += 1
            
    min_limit_sub = max_limit_sub
    max_limit_sub += step


for key in range_dict_sub:
    print(str(key) + "->" + str(range_dict_sub.get(key)))

0-1000000000->911
1000000000-2000000000->0
2000000000-3000000000->0
3000000000-4000000000->0
4000000000-5000000000->1
5000000000-6000000000->1
6000000000-7000000000->0
7000000000-8000000000->0
8000000000-9000000000->0
9000000000-10000000000->1